* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px 0;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #000;
}

.section-title::before {
  margin-right: 10px;
}

.section-title::after {
  margin-left: 10px;
}

.section-title span {
  font-size: 40px;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
}